{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{% blocktrans %}Password reset{% endblocktrans %}</div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p>{% blocktrans %}Please enter your email address. You will receive a link to create a new password via email.{% endblocktrans %}</p>
        </div>
        <form method="post" action="{% url "django.contrib.auth.views.password_reset" %}">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Your e-mail">
            <button class="btn btn-default" type="submit" role="button">{% blocktrans %}Send link{% endblocktrans %}</button>
        </form>
    </div>
</div>
{% endblock content %}