{% extends "base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
<p class="text-center">
    {% trans 'You are logged in as ' %}{{ user.username }}. {% trans 'You can ' %}
    <a class="btn btn-default" href="/logout/" role="button">
        <span class="glyphicon glyphicon-log-out"></span> Logout
    </a>.
</p>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">{% trans 'Login' %}</div>
    <div class="panel-body">
        {% if form.errors %}
        <div class="alert alert-danger">
            <b>Login Failed.</b>
        </div>
        {% for error in form.non_field_errors %}
        <p class="text-danger">{{error}}</p>
        {% endfor %}
        {% endif %}
        <form role="form" class="form-group has-error has-feedback" method="post" action=".">
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd class="clearfix">
                    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                    {% if field.errors %}
                    <div class="myerrors clearfix">
                        {% for error in field.errors %}
                            <p class="text-danger">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {{ field }}
                </dd>
            {% endfor %}
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-log-in"></span> Login
            </button>
        </form>
    </div>
</div>
<script type="text/javascript">
    document.getElementById('id_username').focus()
</script>
{% endif %}
{% endblock %}