{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktrans %}Logged out{% endblocktrans %}{% endblock %}
{% block content %}
<p class="text-center">{% blocktrans %}You've been logged out{% endblocktrans %}.</p>
<p class="text-center">{% trans 'You can ' %}
    <a class="btn btn-default" href="/login/" role="button">
        <span class="glyphicon glyphicon-log-out"></span> Login
    </a>.
</p>
{% endblock %}