{% extends "base.html" %}

{% load i18n %}

{% load url from future %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{% trans "Password reset" %}</div>
        <div class="panel-body">
            <div class="alert alert-info">
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you your password." %}</p>
            </div>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.email.errors }}
                <p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
            </form>
        </div>
    </div>
{% endblock %}