{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% if validlink %}
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Enter new password' %}</div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                </div>
                <form role="form" action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {{ form.new_password1.errors }}
                    <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
                    {{ form.new_password2.errors }}
                    <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
                    <p><input class="btn btn-default" type="submit" role="button" value="{% trans 'Change my password' %}" /></p>
                </form>
            </div>
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Password reset unsuccessful' %}</div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
