{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{% trans 'Password change' %}</div>
    <div class="panel-body">
        {% if form.errors %}
            <div class="alert alert-danger">
                <b>{% trans 'Password change failed.' %}</b>
            </div>
            {% for error in form.non_field_errors %}
                <p class="text-danger">{{error}}</p>
            {% endfor %}
        {% endif %}
        <div class="alert alert-info">
            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        </div>
        <form role="form" action="." method="post">
            {% csrf_token %}
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd class="clearfix">{{ field }}
                    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                    {% if field.errors %}
                    <div class="clearfix">
                        {% for error in field.errors %}
                            <p class="text-danger">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </dd>
            {% endfor %}
            <button class="btn btn-default" type="submit" role="button">
                <span class="glyphicon glyphicon-log-out"></span> {% trans 'Change my password' %}
            </button>
        </form>
    </div>
</div>
{% endblock %}