{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">{% trans 'Password reset complete' %}</div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        </div>
        <p><a class="btn btn-default" href="/login/">{% trans 'Log in' %}</a></p>
    </div>
</div>
{% endblock %}