{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Send successful' %}</div>
        <div class="panel-body">
            <div class="alert alert-info">
                <p>{% trans "We have e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
            </div>
        </div>
    </div>
{% endblock content %}
