{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Registration is closed' %}{% endblock %}

{% block content %}
<p>{% trans "To register contact the site administrator, please." %}</p>
<p>{% trans 'Then you can ' %}<a href="/login/">{% trans 'log in' %}</a>.</p>
{% endblock %}