header, footer{
    width: 100%;
    min-width: 980px;
}
/*.content{*/
    /*margin: 0 auto;*/
    /*width: 980px;*/
/*}*/
/*.center{*/
    /*text-align: center;*/
/*}*/
/*.footer{*/
    /*position: relative;*/
/*}*/

.panel .dl-horizontal dt {
    white-space: normal;
}