.container-ride {
    display: inline-block;
    padding: 10px;
    height: auto;width: 100%;
}

.left-content  {
    width: 45%;
    float:left;
    padding: 10px;
    display: inline-block;
    min-height: 500px;
}

.right-content {
    position: relative;
    width: 55%;
    padding: 10px;
    float:right;
    display: inline-block;
}
.clear{clear: both}

#map {
    position: relative;
    height: 500px;
    width: auto;
}
