{% extends 'base.html' %}

{% load i18n %}

{% load staticfiles %}

{% block head_link %}
{{ block.super }}
<link rel="stylesheet"  href="{% static "leaflet/leaflet.css" %}"/>
<link rel="stylesheet" href="{% static "css/map.css" %}">
<link rel="stylesheet" href={%  static "jquery-ui/development-bundle/themes/base/jquery.ui.all.css" %}>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script type="text/javascript" src="{% static "leaflet/leaflet.js" %}"></script> {# leaflet lib #}
<script src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key={{ API_KEY_MAP_QUEST }}"></script> {# map tiles plugin #}
<script src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-geocoding.js?key={{ API_KEY_MAP_QUEST }}"></script> {# geocoding plugin #}
<script src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key={{ API_KEY_MAP_QUEST }}"></script> {# routing plugin #}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.core.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.widget.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.position.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.menu.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.autocomplete.js" %}></script>
<script src={%  static "js/jquery.formset.js" %}></script>
{% endblock %}

{% block title %}{% blocktrans %}Create new order{% endblocktrans %}{% endblock %}

{% block content %}
<script type="text/javascript">
    var address_count = 2;
    var field_num = 0;
    var points = new Array(address_count);
    var points_list = {};
    var node_list = [];
    var autocomplete_list = [];
    for (var i = 0; i < address_count; ++i) points[i] = null;
    var marker_list = new Array(address_count);
    var distance = 0;
    var requestData = {};
    var dist = 0;
    var time_sec = 0;
    var dir_layer = null;

    $(function() {
        $('#form-submit').click(function(e) {
            {#                        e.preventDefault();#}
            {#                        update_route();#}
            var pass = false;
            var lats = []
            var lngs = []
            var addresses = []
            if(node_list.length > 1 && dist > 0){
                pass = true;
                for(i=0;i<node_list.length;++i){
                    if(!node_list[i].point || node_list[i].input.val().length==0
                            || !node_list[i].point){
                        pass = false;
                        break;
                    }
                    addresses.push(node_list[i].input.val());
                    lats.push(node_list[i].point.lat);
                    lngs.push(node_list[i].point.lng);
                }
            }
            if(pass){
                e.preventDefault();
                requestData.driver_id = $("#{{form.driver_id.auto_id }}").val();
                requestData.cab_id = $("#{{form.cab_id.auto_id }}").val();
                requestData.notes = $("#{{form.notes.auto_id }}").val();
                requestData.calculated_distance = dist;
                requestData.eta = time_sec;
                requestData.addresses = addresses;
                requestData.lats = lats;
                requestData.lngs = lngs;
                $.ajax({
                    url: '/mainapp/save_path/',
                    type: 'POST',
                    dataType: 'text',
                    data: requestData,
                    statusCode: {
                        200: function(data) {
                            console.log("data" + data);
                            obj = jQuery.parseJSON(data);
                            if(obj.redirect_url){
                                console.log("lalala");
                                window.location.href = obj.redirect_url;
                            }
                        },
                        400: function(errors) {
                            console.log("errors" + errors);
                        }
                    }
                })
            }
            else{
                e.preventDefault();
                alert("Please, check your input");
            }
        });
    });

    function update_route() {
        document.getElementById('cost').innerHTML = '';
        dist = -1;
        if(dir_layer){
            if( map.hasLayer(dir_layer)){
                map.removeLayer(dir_layer);
            }
        }
        var locations = [];
        var options = {};
        options.allToAll = false;
        if(node_list.length > 1){
            for(i=0;i<node_list.length;++i){
                if(node_list[i].point){
                    var location = { latLng: { lat: node_list[i].point.lat, lng: node_list[i].point.lng }};
                    locations.push(location);
                }
                else{
                    return;
                }
            }
            dir = MQ.routing.directions();
            dir.on('success', function(data) {
                var legs = data.route.legs,
                        html = '',
                        maneuvers,
                        i;
                if(legs && legs.length){
                    dist = 0;
                    time_sec = 0;
                    for(i=0;i<legs.length;++i){
                        dist+=legs[i].distance;
                        time_sec+=legs[i].time;
                    }
                    document.getElementById('cost').innerHTML =  ({{ INITIAL_PRICE_UA_HRN|stringformat:"f" }} + dist*{{ UA_HRN_PER_KM|stringformat:"f" }}).toFixed(2) + ' ₴';
                }
            });
            dir.route({
                locations: locations,
                options: options,
                unit: "k"
            });
            dir_layer = MQ.routing.routeLayer({
                directions: dir,
                fitBounds: true,
                draggable: false,
                ribbonOptions: {
                    draggable: false
                }
            });
            map.addLayer(dir_layer);
        }
    }

    $(document).ready(function() {
        function add_input(){
            if(x <= MaxInputs) //max input box allowed
            {
                FieldCount++; //text box added increment
                //add input box
                $(InputsWrapper).append(
                        '<div class="input-group">' +
                                '<input type="text" placeholder={% blocktrans %}"Enter address"{% endblocktrans %} class="form-control" id="field_'+ FieldCount +'"/>' +
                                '<span class="input-group-btn">' +
                                '<a href="#"  id="rmfield_'+ FieldCount +'"><span class="glyphicon glyphicon-remove"></span></a>' +
                                '</span>' +
                                '</div>');
                x++; //text box increment
                var node = {};
                node.input_id = $( "#field_"+ FieldCount).attr('id');
                node.input = $( "#field_"+ FieldCount);
                node.point = null;
                node.marker = null;
                node_list.push(node);
                var defaultBounds = new google.maps.LatLngBounds(
                    new google.maps.LatLng({{ VIEW_BOX_LEFT|stringformat:"f" }}, {{ VIEW_BOX_BOTTOM|stringformat:"f" }}),
                    new google.maps.LatLng({{ VIEW_BOX_RIGHT|stringformat:"f" }}, {{ VIEW_BOX_TOP|stringformat:"f" }}1));
                var input = document.getElementById("#field_"+ FieldCount);
                var options = {
                    bounds: defaultBounds, {# does not restrict the search! #}
                    types: ['geocode'],
                    componentRestrictions: {country: '{{ COUNTRY_CODE }}'}
                };
                autocomplete = new google.maps.places.Autocomplete($("#field_"+ FieldCount).get(0),options);
                autocomplete_list.push(autocomplete);
                autocomplete.set('input_id', "field_" + FieldCount);
                google.maps.event.addListener(autocomplete, 'place_changed', function() {
                    var place = this.getPlace();
                    if(place){
                        var location = place.geometry.location;
                        if(location)
                        {
                            var lat = location.lat();
                            var lng = location.lng();
                            var has_route = false;
                            var has_street_number = false;
                            for (var i = 0; i < place.address_components.length; i++) {
                                var addressType = place.address_components[i].types[0];
                                if(addressType == 'street_number')
                                {
                                    var val = place.address_components[i]['short_name'];
                                    if(val && val.length > 0){
                                        has_street_number = true;
                                    }
                                }
                                else if (addressType == 'route'){
                                    var val = place.address_components[i]['short_name'];
                                    if(val && val.length > 0){
                                        has_route = true;
                                    }
                                }
                            }
                            for(i=0;i<node_list.length;++i){
                                var  node_i = node_list[i];
                                if(node_i && (node_i.input_id == this.get('input_id'))){
                                    node_i.point = null;
                                    if(node_i.marker){
                                        if (map.hasLayer(node_i.marker)){
                                            map.removeLayer(node_i.marker);
                                        }
                                    }
                                    if(!has_route && !has_street_number){alert('Please, specify street name and number.'); update_route();return;}
                                if(!has_route){alert('Please, specify street name.');update_route(); return;}
                                if(!has_street_number){alert('Please, specify street number.');update_route(); return;}
                                    if(lng < {{ VIEW_BOX_LEFT|stringformat:"f" }} || lng > {{ VIEW_BOX_RIGHT|stringformat:"f" }}
                                            || lat < {{ VIEW_BOX_BOTTOM|stringformat:"f" }} || lat > {{ VIEW_BOX_TOP|stringformat:"f" }} )
                                    {
                                        alert("Warning: Orders that contain addresses far from {{ PREFERRED_AREA }} may not be accepted.");
                                    }
                                    map.setView(L.latLng(lat, lng), 12);
                                    var marker_point = L.marker([ lat, lng ]);
                                    marker_point.addTo(map);
                                    node_i.marker=marker_point;
                                    node_i.point = L.latLng(lat, lng);
                                    update_route();
                                }
                            }
                        }
                        else
                        {
                            alert('Please, check your input.');
                        }
                    }
                    else{
                        alert('Please, check your input.');
                    }

                });
                $( "#rmfield_"+ FieldCount).click(function() {
                    if( x > 2 ){
                        var input_obj_id = $(this).attr('id').replace('rm','');
                        var input = $("#"+input_obj_id);
                        for(i=0;i<node_list.length;++i){
                            if(input_obj_id==node_list[i].input_id){
                                if(node_list[i].marker){
                                    if (map.hasLayer(node_list[i].marker)){
                                        map.removeLayer(node_list[i].marker);
                                    }
                                }
                                node_list.splice(i, 1);
                                update_route();
                                break;
                            }
                        }
                        $(this).parent('span').parent('div').remove();
                        x--;
                    }
                });
            }
        }
        var MaxInputs       = {{ MAX_INPUTS }}; //maximum input boxes allowed
        var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
        var AddButton       = $("#AddMoreFileBox"); //Add button ID
        var x = 0; //initlal text box count
        var FieldCount=0; //to keep track of text box added
        var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
        var AddButton       = $("#AddMoreFileBox"); //Add button ID
        $(InputsWrapper).ready(function () {
            $(function() {
                add_input();
                add_input();
            });
        });
        $(AddButton).click(function (e)  //on add input button click
        {
            add_input();
            return false;
        });
    });
</script>
<div class="container-ride">
    <div class="left-content">
        <div class="panel panel-group">
                <div class="panel-body">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <div class="row">
                                <p class="pull-left"><strong>{% blocktrans %}Addresses{% endblocktrans %}</strong></p>
                                <div class="">
                                    <a href="#" id="AddMoreFileBox" class="btn btn-sm btn-primary pull-right">Add more</a>
                                </div>
                            </div>
                        </div>
                        <div id="InputsWrapper"></div>
                    </div>
                    <br>
                    {% load mainapp_extras %}
                    <form class="form-horizontal" role="form"  method='post'>
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.errors %}
                        <div class="form-group error">
                            <label class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="controls">{{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                            </div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}" class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-10">{{ field|addcss:"form-control" }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><p class="">{% blocktrans %}Cost{% endblocktrans %} </p></label>
                            <div class="col-sm-10">
                                <p class="form-control-static text-left" id="cost"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="form-submit" type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span> {% blocktrans %}Create{% endblocktrans %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
    <div class="right-content">
        <div id="map"></div>
        <script type="text/javascript" src="{% static "js/map.js" %}"></script>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    initmap();
    map.fitBounds([
            [{{ VIEW_BOX_BOTTOM|stringformat:"f" }}, {{ VIEW_BOX_LEFT|stringformat:"f" }}],
            [{{ VIEW_BOX_TOP|stringformat:"f" }}, {{ VIEW_BOX_RIGHT|stringformat:"f" }}]
        ]);
</script>
{% endblock %}