{% extends 'base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load render_table from django_tables2 %}

{% block head_link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}"/>
{% endblock %}

{% block title %} {% blocktrans %}Your last orders{% endblocktrans %} {% endblock %}

{% block content %}
    <div class="well clearfix">
        <a class="btn pull-right btn-default" href="{% url "new-ride" %}" role="button">
            <span class="glyphicon glyphicon-plus"></span> {% blocktrans %}Create new order{% endblocktrans %}
        </a>
    </div>
    {% if table.data %}
        {% render_table table %}
    {% else %}
        <div class="clearfix alert alert-warning"><p>No orders.</p></div>
    {% endif %}
{% endblock %}