{% extends 'base.html' %}

{% load i18n %}

{% load staticfiles %}

{% block head_link %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css"%}">
<link rel="stylesheet"  href="{% static "leaflet/leaflet.css" %}"/>
<link rel="stylesheet" href="{% static "css/map.css" %}">
<link rel="stylesheet" href={%  static "jquery-ui/development-bundle/themes/base/jquery.ui.all.css" %}>
<script type="text/javascript" src="{% static "leaflet/leaflet.js" %}"></script> {# leaflet lib #}
<script src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key={{ API_KEY_MAP_QUEST }}"></script> {# map tiles plugin #}
<script src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-geocoding.js?key={{ API_KEY_MAP_QUEST }}"></script> {# geocoding plugin #}
<script src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-routing.js?key={{ API_KEY_MAP_QUEST }}"></script> {# routing plugin #}
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.core.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.widget.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.position.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.menu.js" %}></script>
<script src={%  static "jquery-ui/development-bundle/ui/jquery.ui.autocomplete.js" %}></script>
{% endblock %}

{% block title %}{% blocktrans %}Order #{% endblocktrans %} {{ ride_id }}{% endblock %}

{% block content %}
<script type="text/javascript">
    $('map').ready(function() {
        var locations = [];
        var geocode = MQ.geocode();
        {% for latlng in latlng_list %}
            var location = { latLng: { lat: {{ latlng.lat|stringformat:"f" }}, lng: {{ latlng.lng|stringformat:"f" }} }};
            locations.push(location);
        {% endfor %}
        var options = {};
        options.allToAll = false;
        if(locations.length > 1){
            dir = MQ.routing.directions();
            dir.route({
                locations: locations,
                options: options,
                unit: "k"
            });
            dir_layer = MQ.routing.routeLayer({
                directions: dir,
                fitBounds: true,
                draggable: false,
                ribbonOptions: {
                    draggable: false
                }
            });
            map.addLayer(dir_layer);
        }
    });
</script>
<div class="container-ride">
    <div class="left-content">
        <div class="panel panel-default">
            <div class="panel-heading">{% blocktrans %}Addresses{% endblocktrans %}</div>
            <ul class="list-group">
                {% for address in addresses %}
                    <li class="list-group-item">{{ address }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel panel-group">
            <div class="panel-body">
                <dl class="dl-horizontal">
                    {% for field_name, field_value in ride_obj %}
                        <dt><p class="text-justify">{% blocktrans %}{{ field_name }}{% endblocktrans %}:</p></dt>
                        <dd><p class="text-left">{{ field_value  |default_if_none:"" }}</p></dd>
                    {% endfor %}
                    <dt><p class="text-justify">Cost: </p></dt>
                    <dd><p class="text-left">{{ cost|stringformat:"1.2f" }}  ₴</p></dd>
                </dl>
                {% if can_cancel %}
                    <form class="form-horizontal" role="form" id='form-submit' method='post' type="submit">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button id="cancel-submit" type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> {% blocktrans %}Cancel{% endblocktrans %}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="right-content">
        <div id="map"></div>
        <script type="text/javascript" src="{% static "js/map.js" %}"></script>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    initmap();
    map.fitBounds([
        [{{ VIEW_BOX_BOTTOM|stringformat:"f" }}, {{ VIEW_BOX_LEFT|stringformat:"f" }}],
        [{{ VIEW_BOX_TOP|stringformat:"f" }}, {{ VIEW_BOX_RIGHT|stringformat:"f" }}]
    ]);
</script>
{% endblock %}