<!--basic common structure of web pages for this site-->
{% load i18n %}

{% load staticfiles %}

<html>
    <head>
        {% block head_link %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css"%}">
        <script src={%  static "jquery-ui/development-bundle/jquery-1.10.2.js"%}></script>
        {% endblock %}
        <title>{% block head_title %}Bon Voyage !{% endblock %}</title>
    </head>
    <body background={% static "img/photography.png" %}>
        <nav class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Bon Voyage!</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url "ride" %}"><span class="glyphicon glyphicon-list"></span> {% blocktrans %}Last rides{% endblocktrans %}</a></li>
                            <li><a href="{% url "new-ride" %}"><span class="glyphicon glyphicon-road"></span> {% blocktrans %}New ride{% endblocktrans %}</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% get_current_language as LANGUAGE_CODE %}
                            <form class="navbar-form navbar-left" action="/i18n/setlang/" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                <select id="language_select" name="language" type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-default">{% blocktrans %}Go{% endblocktrans %}</button>
                            </form>
                            <script>
                            var element = document.getElementById('language_select');
                            element.value = '{{LANGUAGE_CODE}}';
                            </script>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <p class="navbar-text navbar-right">{% blocktrans %}Logged in as {% endblocktrans %} <a href="#" class="navbar-link">{{ user }}</a></p>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% blocktrans %}Actions{% endblocktrans %} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> {% blocktrans %}Logout{% endblocktrans %}</a></li>
                                    <li><a href="{% url "password_change" %}"><span class="glyphicon glyphicon-edit"></span> {% blocktrans %}Change password{% endblocktrans %}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> {% blocktrans %}Login{% endblocktrans %}</a></li>
                                    <li><a href="{% url "forgot-password" %}"><span class="glyphicon glyphicon-question-sign"></span> {% blocktrans %}Forgot password{% endblocktrans %}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header>
            <section class="upper center">
                <div class="page-header">
                    <h3 class="text-center">{% block title %}{% endblock %}</h3>
                </div>
            </section>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
            <footer>
                <section class="modal-footer">
                    <p class="text-center">Copyright &copy 2014 Galyna Butovych</p>
                </section>
            </footer>
        </div>
        <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    </body>
</html>